@font-face {
  font-family: "iconfont"; /* Project id 3823706 */
  src: url('iconfont.woff2?t=1670903735999') format('woff2'),
       url('iconfont.woff?t=1670903735999') format('woff'),
       url('iconfont.ttf?t=1670903735999') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-downarrow:before {
  content: "\e60a";
}

