body{
    margin: 0px;
    /* font-size: 0; */
}

.content{
    width: 100vw;
    height: 100vh;
    background-color: rgb(30,40,49);
    flex-wrap: wrap;
    display: flex;
}

.Title{
    margin-top: 8vh;
    margin-left: 14vw;
    text-align: center;
    vertical-align: center;
    color: antiquewhite;
    /* background-color: blue; */
    width: 72vw;
    height: 10vh;
    border-radius: 20px;
    /* display: inline; */
}

.data{
    margin-top: -10vh;
    margin-left: 10vw;
    width: 58vw;
    height: 60vh;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    /* align-content: flex-start; */
    /* display: inline; */
    /* flex-direction: column; */
}

.info{
    margin-top: -10vh;
    margin-left: 2vw;
    width: 20vw;
    height: 60vh;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    display: inline;
}

#text1{
    color: #23a2f6;
    text-align: center;
    font-size: 25px;
    /* font-size: 1vw; */
}

#text2{
    color: #f09819;
    text-align: center;
    font-size: 25px;
}

.shape1{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:15vh;
}

.shape2{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    position: absolute;
    right:4vw;
    top: 75vh;
}

#info-text{
    /* background-color: transparent; */
    /* background-color: grey; */
    border: solid 0px;
    outline: none;
    border-color: #fff;
    overflow: scroll;
    overflow-x: hidden;
    resize: none;
    justify-items: center;
    color: white;
    width: 16vw;
    height: 45vh;
    margin-left: 2vw;
    font-size: 17px
}

#info-text::-webkit-scrollbar{
    width: 0.3vw;
    /* height: 1px; */
}

#info-text::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: antiquewhite;
}

#info-text::-webkit-scrollbar-track{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

#info-text2{
    /* background-color: transparent; */
    /* background-color: grey; */
    border: solid 0px;
    outline: none;
    border-color: #fff;
    overflow: scroll;
    overflow-x: hidden;
    resize: none;
    justify-items: center;
    color: white;
    width: 16vw;
    height: 48vh;
    margin-left: 2vw;
    font-size: 17px;
    display: none;
}

#new-info{
    color: #f09819;
    cursor: pointer;
    /* text-decoration: underline; */
    text-align: center;
    /* display: none; */
    visibility: hidden;
}

.rwd-table1{
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: antiquewhite;
    text-align: center;
    /* background-color: blue; */
    width: 54vw;
    height: 6vh;
    margin-left: 2vw;
    border-collapse: collapse;
    /* overflow-y: auto;
    overflow-x: none; */
}

.rwd-table1 th{
    width: 5.4vw;
    height: 6vh;
    font-size: 20px;
    /* position: sticky;
    top: 0; */
    /* background: rgba(255,255,255,0.13); */
    border-bottom: 3px solid antiquewhite;
}

.rwd-table2{
    width: 54.3vw;
    height: 33vh;
    margin-left: 2vw;
    margin-top: 2vh;
    overflow-y: auto;
    overflow-x: none;
}

.rwd-table2::-webkit-scrollbar{
    /* 滚动条整体样式 */
    width: 0.3vw;
    height: 1px;
}
.rwd-table2::-webkit-scrollbar-thumb{
    /* 滚动条里面小方块 */
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ededed;
}
.rwd-table2::-webkit-scrollbar-track{
    /* 滚动条里面轨道 */
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #535353;
}

.rwd-table2-content{
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    /* text-align: center; */
    width: 54vw;
    height: 32vh;
    /* margin-left: 2vw;
    margin-top: 2vh; */
    /* overflow-y: auto;
    overflow-x: none; */
}

.rwd-table2-content td{
    color: white;
    width: 5.4vw;
    height: 6vh;
    text-align: center;
    border-bottom: 1.5px solid antiquewhite;
}

table{
    border-collapse: collapse;
}

.data_title{
    /* background-color: grey; */
    text-align: center;
}

.page-list{
    /* background-color: blue; */
    width: 25vw;
    height: 8vh;
    margin-left: 33vw;
    font-size: 20px;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

#page-input{
    width: 39px;
    height: 22px;
    outline: none;
    resize: none;
    font-size: 19px;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    /* align-items: center; */
    font-weight: 650;
}

#page-input2{
    width: 39px;
    height: 22px;
    outline: none;
    resize: none;
    font-size: 19px;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    /* align-items: center; */
    font-weight: 650;
    display: none;
}

.page-button{
    /* align-items: center; */
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
    font-weight: 550;
    border-radius: 5px;
    background-color: antiquewhite;
}

.LastPage{
    font-size:18px;
    cursor: pointer;
    font-weight: 550;
    border-radius: 5px;
    background-color: antiquewhite;
}

.NextPage{
    font-size: 18px;
    margin-left: 20px;
    margin-right: 30px;
    cursor: pointer;
    font-weight: 550;
    border-radius: 5px;
    background-color: antiquewhite;
}